.granback{
    background-color:rgb(238, 243, 245);
}


.container{
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    text-align: center;
    align-items: center;
}


.img{
    height: 10rem;
    width: 15rem;
    border-radius: 10%;
    margin: 1rem;
}

.imgp{
    height: 5rem;
    width: 10rem;
    border-radius: 10%;
    margin: 1rem;
}

.imgIcono{
    height: 2rem;
    width: 2rem;
    border-radius: 10%;
    background-color: transparent;
}

.imgg{
    height: auto;
    width: auto;
    border-radius: 50%;
    margin: 1rem;
}

img.img:hover{
    transform: scale(1.1);
}

.nav{
    box-sizing: border-box;
    margin: 0px;
    float: right;
    
}

.nav a{
    background-color: rgb(238, 243, 245);
    color:black;
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(238, 243, 245); 
}

.nav a:hover{
    background-color:rgba(128, 128, 128, 0.266);
    color:black;
    border-radius: 20%;
}

.cuadroP{
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-rows: auto;
    grid-template-columns: 2;
    text-align: center;
    align-items: center;   
    background-color: #2C87BF;
    padding: 2% 5% 2% 5%;
    margin: 10% 10% 10% 10%;
    border-radius: 20px;

}

.boton-ok{
    background-color: #15b64a;
    padding: 10px 20px;
    border-radius: 20px;
    
}

.boton-nook{
    background-color: rgb(241, 7, 7);
    padding: 10px 30px;
    border-radius: 20px;
}

.boton-ok:hover{
    transform: scale(1.1);
}
.boton-nook:hover{
    transform: scale(1.1);
}

.containerP{
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    text-align: left;
    background-color: #5EA4BF;
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
     
}

.containerSp{
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-rows: auto;
    grid-template-columns: 2;
    background-color: #8aa9bd;
    padding: 2%;
    margin: 1%;
    border-radius: 20px;
    display: none;
}
.h{
    margin: 0;
}

.hmi{
    background-color: transparent;
    border: none
}

.hm:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.hmi:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.input{
    width: 95%;
    border-radius: 5px;
    margin: 5px;
}

.ventana{ 
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    padding: 20px;
    width: 90%;          /* ancho fijo */
    max-width: 600px;
    max-height: 70vh;      /* altura máxima: 70% de la ventana */
    overflow-y: auto;      /* scroll vertical si se excede */
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8d9ead;
  color: white;
}


tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}


td, th{border: 1px solid #ddd;
  padding: 8px;
}

table{
    margin: 1%;
}


/*div de cada una de las vacantes*/
.cuadroBusqueda{
    background: #ffffff;
    border-radius: 20px;
    padding: 5px;
    margin: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cuadroBusqueda ul {
    padding-left: 0;
    margin: 15px 0;
}

.cuadroBusqueda li {
    list-style: none;
    margin-bottom: 8px;
    padding-left: 20px;
    position: relative;
    color: #333;
    font-size: 16px;
}

.cuadroBusqueda input[type="checkbox"] {
    transform: scale(3);
    margin: 10%;
    accent-color: #15b64a;
}


/*div que contiene todas las busquedas*/
.busquedas{  
    width: 95%;
    max-width: 950px;
    height: auto;
    max-height: 650px;

    margin: 0 auto; /* centrar */
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow-y: auto;

}

/*Formato para input y bonton de filtro*/
.contenedor-filtro {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.input-filtro {
  flex: 1;
  border: none;
  outline: none;
}

.boton-filtro {
  background-color: #f0f0f0;
  width: 30px;
  height: 20px;
  border: none;
  border-left: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-filtro:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
  cursor: pointer;
}