.granback{
    background-color:rgb(238, 243, 245);
}


.container{
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    text-align: center;
    align-items: center;
}


.img{
    height: 10rem;
    width: 15rem;
    border-radius: 10%;
    margin: 1rem;
}

.imgp{
    height: 5rem;
    width: 10rem;
    border-radius: 10%;
    margin: 1rem;
}

.imgg{
    height: auto;
    width: auto;
    border-radius: 50%;
    margin: 1rem;
}

img.img:hover{
    transform: scale(1.1);
}

.nav{
    float: right;
}

.cuadroP{
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-rows: auto;
    grid-template-columns: 2;
    text-align: center;
    align-items: center;   
    background-color: #2C87BF;
    padding: 2% 5% 2% 5%;
    margin: 10% 10% 10% 10%;
    border-radius: 20px;

}

.boton-ok{
    background-color: chartreuse;
    padding: 10px 20px;
    border-radius: 20px;
    
}

.boton-nook{
    background-color: darkred;
    padding: 10px 30px;
    border-radius: 20px;
}

.boton-ok:hover{
    transform: scale(1.1);
}
.boton-nook:hover{
    transform: scale(1.1);
}

.containerP{
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    text-align: left;
    background-color: #5EA4BF;
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
     
}

.containerSp{
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-rows: auto;
    grid-template-columns: 2;
    background-color: #8aa9bd;
    padding: 2%;
    margin: 1%;
    border-radius: 20px;
    display: none;
}
.h{
    margin: 0;
}

.hm:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.input{
    width: 100%;
    border-radius: 5px;
    margin: 5px;
}

.ventana{
    border-radius: 15px;
}

th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8d9ead;
  color: white;
}


tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}


td, th{border: 1px solid #ddd;
  padding: 8px;
}

table{
    margin: 1%;
}
